body{
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}


.nav{
  width: 70%;
  margin: 45px auto 51px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;

}

.nav a{
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-decoration: none;
  color: #4E4E4E;
}

.nav a:hover{
  color: #57A4A4;
}