body{
    font-family: Verdana sans-serif;
    background-color: #45B0E3;
    width: 1200px;
    margin: 0 auto;
    color: white;
}

.post-wrapper:not(:first-child){
    margin: 10px;

}

.post-wrapper{

    background-color: #302f2f;
    padding: 20px;
    border: 5px solid #8a8b91;
    box-sizing: border-box;
    border-radius: 25px;
}

p span{
    margin: 10px;
    color: #bdc1d9;
}
.title-body{
    font-weight: 400;
    font-size: 16px;
}

.author-name{
    font-size: 20px;
    font-weight: 700;
}

button{
    border-radius: 10px;
    width: 90px;
    height: 30px;
}