.main-wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.pagination {
    width: 10%;
    display: inline-flex;
    justify-content: space-around;
}
ul li {
    list-style: none;
}
ul li:hover {
    cursor: pointer;
}
.worker {
    border: 1px solid #000;
    padding: 1em;
}
#workers {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 4em;
}

