body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 1170px;
  margin: 0 auto;
}

p{
  margin:0;
}

@media screen and (max-width: 1199px){
  .container{
    width: 100%;
    box-sizing: border-box;
    padding: 0 80px;
  }
}

@media screen and (max-width: 767px){
  .container{
    min-width: 320px;
    box-sizing: border-box;
    padding: 0 25px;
  }
}