@import "variables";

.burger-wrapper{
  width: 110px;
  height: 110px;

  margin-left: 90%;
  position: relative;

}

.burger-menu{
  top:-300px;
  right: 200px;
  position: absolute;
  transition: 3s;
}

.burger-menu-active{
  top:95px;
  transition: 3s;
}

.burger-menu li{
  cursor: pointer;
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
  width: 200px;
  height: 40px;
  border: 1px solid black;
  background-color: #B9B9B9;
}

a{
  text-decoration: none;
  color: black;
}

.burger{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 100px;
  height: 100px;
  border: 5px solid blue;
  border-radius: 10px;
}

.burger-line{
  transition: 2s;
  top:50%;
  width: 80px;
  height: 3px;
  background-color: black;
  position: absolute;
}

.burger-line:after{
  transition: 0.7s;
  top:15px;
  content: "";
  width: 80px;
  height: 3px;
  background-color: black;
  position: absolute;
}

.burger-line:before{
  transition: 0.7s;
  bottom:15px;
  content: "";
  width: 80px;
  height: 3px;
  background-color: black;
  position: absolute;
}

//.burger:hover .burger-line{
//  transition: 0.5s;
//  background-color: white;
//}
//
//.burger:hover .burger-line:after{
//  transform: rotate(-45deg);
//  top: 0;
//  transition: 0.7s;
//}
//
//.burger:hover .burger-line:before{
//  transform: rotate(45deg);
//  top: 0;
//  transition: 0.7s;
//}


.burger-open .burger-line{
  transition: 0.5s;
  background-color: white;
}

.burger-open .burger-line:after{
  transform: rotate(-45deg);
  top: 0;
  transition: 0.7s;
}

.burger-open .burger-line:before{
  transform: rotate(45deg);
  top: 0;
  transition: 0.7s;
}

.color{
  height: 500px;
}

.red-section{
  background-color: red;
}

.blue-section{
  background-color: blue;
}
.green-section{
  background-color: green;
}
.yellow-section{
  background-color: yellow;
}
.grey-section{
  background-color: grey;
}
