body{
  font-family: Monserrat sans-serif;

}

//.productWrapper{
//  display: flex;
//  justify-content: space-between;
//  flex-wrap: wrap;
//  padding: 30px;
//  margin: 0 auto;
//  width: 1200px;
//  background-color: #B9B9B9;
//}
//
//.product-item{
//  width: 30%;
//  border: 5px solid blue;
//  margin-bottom: 10px;
//}
//
//.product-item img{
//  width: 100%;
//  height: 240px;
//}
//
//.product-item button{
//  width: 120px;
//  background-color:ghostwhite;
//  border-radius: 10px;
//
//}
//
//.brand{
//  font-weight: 700;
//  font-size: 30px;
//  text-align: center;
//
//}
//
//.price{
//  text-align: center;
//  font-weight: bold;
//}
//
//.button-wrapper{
//  margin-top: 30px;
//  margin-bottom: 30px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  width: 100%;
//}
//
//button{
//  height: 40px;
//}

