@import "mixins";
@import "variables";


.footer {
  background-color: $black;

  &-title {
    padding-top: 57px;
    padding-bottom: 22px;
    text-transform: uppercase;
    text-align: center;
    color: $color-title-contacts;

    &-contacts {
      padding-bottom: 37px;
      font-size: $middle;
      line-height: 28px;
      color: #B9B9B9;
      width: 70%;
      text-align: center;
    }
  }

  &-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.social-links{
  display: flex;
  padding-bottom: 34px;
}

.link-social{
  @include centered;
  width: 34px;
  height: 34px;
  margin-left: 6px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

.rss{
  border-color: #F8902E;
}

.facebook{
  border-color: #39599F;
}

.twitter{
  border-color: #45B0E3;
}

.dribbble{
  border-color: #D97AB0;
}

.pinterest{
  border-color:  #CC212C;
}

.contacts{
  color: #B9B9B9;
  & span{
    margin: 0 10px;
  }
  &-container{
    display: flex;
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts{
    line-height: 24px;

    & span{
      margin: 0 3px;
    }

    &-container{
    padding-bottom: 47px;
     }
  }

  .social-links{
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
   text-align: center;
    &-container{
      flex-direction: column;
    }
  }
}
