@import "variables";

header{
  background-color: $background-white;
}

.button-wrapper{
  display: none;
  justify-content: flex-end;
  margin: 23px 0;
  position: relative;
}

.button{
  width: 44px;
  height: 37px;
  background-color: $black;
  border-width: 0;
}

.btn-show{
  background-image: url("../img/buttonOpen.png");
}

.btn-hide{
  background-image: url("../img/buttonClose.png");
}

.nav{
  width: 62%;
  padding: 0;
  margin: 45px auto 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
    & a{
      font-weight: $normal;
      font-size: 11px;
      line-height: 22px;
      text-decoration: none;
      color: $color-title-text;

      &:hover{
        color: $hover;
      }
    }

}


@media screen and (max-width: 1199px){
  .nav{
    width: 80%;
    margin: 41px auto 43px;
  }
}

@media screen and (max-width: 767px){
  .button-wrapper{
    display: flex;
  }
  .nav {
    display: none;
    position: absolute;
    top: 19px;
    right: 24px;
    width: 182px;
    flex-direction: column;
    line-height: 32px;
    & li {
      height: 32px;
      padding-left: 17px;
      background-color: #F5F5F5;

      &:hover{
        background-color: #E5E5E5;
        & a{
          color: $hover;
        }
      }
    }

    &-active{
      display: flex;
    }
  }
}