@import "variables";

.instagram-shots{
  background-color: $background-gallery;
  &-description{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
  }
}

.go-to-insta{
  font-weight:$bold;
  font-size: 13px;
  color:$color-title-text;
  text-transform: uppercase;
}

.gallery-insta{
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-top: 35px;
}

@media screen and (max-width: 1199px){
  .gallery-insta-item{
    width: 32.5%;
    min-width: 249px;
  }

 .gallery-insta-item img{
   width: 100%;
   height: auto;
 }
  .gallery-insta-item:last-child{
    display: none;
  }
}

@media screen and (max-width: 919px) {
  .gallery-insta-item {
    min-width: 200px;

    & img {
      height: auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .instagram-shots{
        background-color: $background-white;
      }
  .gallery-insta-item{
    width:100%;
    & img{
      min-width: 270px;
      height: auto;
    }
    &:not(:first-child){
      display: none;
    }
  }
}

