.main-picture{
  padding-bottom: 61px;
  & img{
    width: 100%;
    height: 550px;
  }
}

@media screen and (max-width: 1199px){
  .main-picture{
    padding-bottom: 56px;
    & img{
      height: auto;
    }
  }

}

@media screen and (max-width: 767px){
  .main-picture{
    padding-bottom: 38px;
    & img{
      height: auto;
    }
  }
}

@media screen and (max-width: 460px){
  .main-picture{
    & img{
      height: auto;
    }
  }
}
