@import "variables";

.posts{
  margin-bottom: 69px;
}

.section-post-title{
  margin: 0;
  color: $color-title-text;
  font-weight: $bold;
  font-size: $middle;
  line-height: 22px;
  text-transform: uppercase;
}

.posts-gallery{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-item{
  margin-top: 24px;
  display: flex;
  width: 49%;
  &-img{
    width: 160px;
    height: 140px;
    margin-right: 20px;
  }
  &-content{
    width: 400px;
  }
  &-title{
    color: $color-title-text;
    margin-top: 0;
    font-weight:$bold;
    font-size: $middle;
    line-height: 30px;
  }
  &-comments{
    margin-top: 3px;
    font-weight: $normal;
    font-size: $small;
    color: $color-comments-text;
    line-height: 20px;
  }
  &-description{
    margin-top: 13px;
    line-height: 26px;
    font-weight: $normal;
    font-size: $medium;
    color: $color-comments-description;
  }
}

@media screen and (max-width: 1199px){
  .gallery-item{
    width: 100%;
  }
}

@media screen and (max-width: 767px){
  .go-to-insta{
    display: none;
  }
  .gallery-item{
    flex-direction: column;
    &-description{
      display: none;
    }
  }
  .posts{
    margin-bottom: 60px;
  }
}