$black: #000000;
$background-white: rgba(0, 0, 0, 0.0001);
$background-gallery: rgba(0, 0, 0, 0.03);
$color-title-text:#4E4E4E;
$color-title-contacts:#FEFEFE;
$color-comments-text:#7C7C7C;
$color-comments-description:#5C5C5C;
$hover: #57A4A4;



//font-weight//
$bold:700;
$normal:400;

//font-size//
$middle: 16px;
$medium: 14px;
$small: 12px;
