.card{
    margin-left: 20px;
    border: 5px solid black;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
}

.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}